div#content-panel {
    form {
        & > * {
            margin-bottom: 12px;
        }

        & > *:last-child {
            margin-bottom: 0;
        }

        label {
            margin-bottom: 6px;
        }

        button[type="submit"] {
            width: 100%;
        }

        span.invalid-feedback {
            display: block;
        }

        margin: 0;
    }
}

div#success-alert-panel {
    display: flex;
    gap: 6px;

    span#copy-address {
        cursor: pointer;
    }

    div#link-part {
        width: 100%;
    }
}
